body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;

}
h2 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

}

a {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.04em;

    color: #434455;
}
button {
    font-weight: 500;
    color: #fff;

    cursor: pointer;
    background: #4d5ae5;
}
ul, li {
    list-style-type: none;
    margin: 0 0 0 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}
.logo-span {
    color: #2e2f42;
}
.nav-ref {
    font-weight: 500;
    font-size: 16px;

    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
}
.nav-ref:hover, .nav-ref:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-ref {
    font-size: 16px;
    letter-spacing: 0.02em;
}
.contacts-ref:hover, .contacts-ref:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    color: #fff;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-button {
    margin-top: 48px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover, .hero-button:focus {
    cursor: pointer;
    background-color: #404BBF;
}

.hiden-features {
    color: #2e2f42;
    text-align: center;
}
.features-name {
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-text {
    color: #434455;
}

.our-team {
    background: #f4f4fd;
}
.our-team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-card {
    background: #fff;
}
.team-member-name {
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
    color: #2e2f42;
}
.team-member-post {
    font-size: 16px;
    color: #434455;
}


.portfolio {
    margin: 120px 156px 120px 156px;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}
.logo {
    color: #4d5ae5;
}
.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}